#yellow {
    background-color: yellow;
    width: 200px;
    height: 200px;
    font-size: 3.5rem;
    text-align: center;
}
#green {
    background-color: green;
    width: 200px;
    height: 200px;
    font-size: 3.5rem;
    text-align: center;


}
#blue {
    background-color: blue;
    width: 200px;
    height: 200px;
    font-size: 3.5rem;
    text-align: center;

}